body{
    background-color:red;
}

.title_name{
    color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.title{
    margin: 0 auto;
    text-align: center;
    border: 2px solid black;
    width:1000px;
    height: 200px;
    background-color: blueviolet;
    
}